<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <script type="text/javascript" src="../JS/dashboardMain.js"></script>
    <style>
        ._md-visually-hidden{
            display: none;
        }
    </style>
</head>
<body ng-cloak ng-app="dashApp" ng-controller="dashCtrl">
<md-toolbar md-scroll-shrink layout="row" layout-align="center center" layout-padding>
    <div class="md-toolbar-tools">Dashboard</div>
    <div >
        <md-button ng-click="logoutFunc()" type="button" class="md-primary md-raised">Logout</md-button>
    </div>
</md-toolbar>
<md-card flex layout="column" layout-padding>
    <md-card-content>
        <md-tabs md-dynamic-height flex layout-fill md-border-bottom md-stretch-tabs="always" md-swipe-content="true">
            <md-tab label="Profile">
                <md-tab-body>
                    <form name="userForm" ng-submit="updateProfile()">
                        <div layout="row" layout-padding>
                            <div layout-padding layout="column" flex>
                                <md-input-container>
                                    <label>First Name</label>
                                    <input   ng-model="profile.firstName" ng-disabled="!editProfile" name="firstname" required>

                                </md-input-container>
                                <md-input-container>
                                    <label>Last Name</label>
                                    <input  ng-model="profile.lastName" ng-disabled="!editProfile" name="lastName"  required>

                                </md-input-container>
                                <md-input-container>
                                    <label>Mobile Number</label>
                                    <input  ng-disabled="!editProfile" ng-model="profile.mobileNumber" ng-disabled="!editProfile" name="lastName"  required>

                                </md-input-container>
                            </div>
                            <div layout-padding layout="column" flex>
                                <md-input-container>
                                    <label>Department</label>
                                    <input  ng-disabled="!editProfile" ng-model="profile.department" ng-disabled="!editProfile" name="lastName"  required>

                                </md-input-container>
                                <md-input-container>
                                    <label>Joining Date</label>
                                    <input value="{{ profile.joiningDate | date: 'yyyy-MM-dd' }}" type="date" ng-disabled="!editProfile" ng-model="profile.joiningDate" required>

                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row" layout-padding ng-hide="!editProfile">
                            <md-input-container flex>
                                <md-button ng-click="cancelFunc()" type="button" class="md-primary md-raised">Cancel</md-button>
                            </md-input-container>
                            <md-input-container flex>
                                <md-button ng-disabled="isEmpty(profile)" type="submit" class="md-primary md-raised">Update</md-button>
                            </md-input-container>
                        </div>
                        <md-input-container ng-hide="editProfile">
                            <md-button ng-click="editFunc()" type="button" class="md-primary md-raised">Edit</md-button>
                        </md-input-container>
                    </form>
                </md-tab-body>
            </md-tab>
            <md-tab label="Leave History" ng-click="listLeaveHistory()">
                <md-tab-body>
                    <md-list >
                        <md-list-item ng-repeat="leave in leavesList" class="md-2-line">
                            <div layout="row" class="md-list-item-text">
                                <div flex="20">{{leave.fromDate | date:'dd-MM-yyyy'}}</div>
                                <div flex="20">{{leave.toDate | date:'dd-MM-yyyy'}}</div>
                                <!--<div flex="10">{{leave.noOfDays}}</div>-->
                                <div flex>{{leave.remarks}}</div>
                                <div flex="10">{{leave.status}}</div>
                                <button ng-click="delLeave(leave)" flex="5" ng-disabled="leave.status !== 'Pending'">Del</button>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-tab-body>
            </md-tab>
            <md-tab label="Holidays" ng-click="listHolidays()">
                <md-tab-body>
                    <md-list >
                        <md-list-item ng-repeat="holiday in holidayList" class="md-3-line">
                            <!--{{holiday}}-->
                            <div layout="row" layout-padding class="md-list-item-text">
                                <div flex>{{holiday.date | date:'dd-MM-yyyy'}}</div>
                                <div flex="40">{{holiday.remarks}}</div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-tab-body>
            </md-tab>
            <md-tab label="Request Leave">
                <md-tab-body>
                    <form name="userForm" ng-submit="addLeave()">
                        <div layout="row" layout-padding>
                            <md-input-container flex>
                                <label>From Date</label>
                                <!--<md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>-->
                                <input ng-model="leave.fromDate" type="date" name="lastName" required>
                            </md-input-container>
                            <md-input-container flex>
                                <label>To Date</label>
                                <!--<md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>-->

                                <input ng-model="leave.toDate" type="date" name="lastName" required>

                            </md-input-container>
                            <md-input-container flex>
                                <label>Type</label>
                                <input type="text" name="lastName" ng-model="leave.type" required>

                            </md-input-container>
                            <!--<md-input-container flex>-->
                                <!--<label>Number of Days</label>-->
                                <!--<input type="number" name="lastName" ng-model="leave.noOfDays" required>-->
                            <!--</md-input-container>-->
                        </div>
                        <md-input-container>
                            <label>Remarks</label>
                            <input type="text" name="lastName" ng-model="leave.remarks" required>

                        </md-input-container>
                        <md-input-container>
                            <md-button type="submit" class="md-primary md-raised">Submit</md-button>
                        </md-input-container>
                    </form>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-card-content>
</md-card>
</body>
</html>